figure {
	font-size: 6px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 64em;
}

figcaption {
	color: #fff;
	display: flex;
	align-content: space-between;
	flex-wrap: wrap;
	height: 17em;
}

figcaption span:before {
	content: "";
	display: block;
	width: 1em;
	height: 1em;
	transform: translate(-1em,-1em);
}

figcaption span {
	display: inline-block;
	margin: 0 2em;
	width: 4em;
	height: 6em;
}

._0:before {
	box-shadow: 2em 1em, 3em 1em, 1em 2em, 1em 3em, 1em 4em, 1em 5em, 4em 2em, 4em 3em, 4em 4em, 4em 5em, 2em 4em, 3em 3em, 2em 6em, 3em 6em;
}

._4:before {
	box-shadow: 1em 1em, 1em 2em, 1em 3em, 1em 4em, 4em 1em, 4em 2em, 4em 3em, 4em 4em, 2em 4em, 3em 4em, 4em 5em, 4em 6em;
}

.d:before {
	box-shadow: 1em 1em, 2em 1em, 3em 1em, 1em 2em, 4em 2em, 1em 3em, 4em 3em, 1em 4em, 4em 4em, 1em 5em, 4em 5em, 1em 6em, 2em 6em, 3em 6em;
}

.e:before {
	box-shadow: 1em 1em, 2em 1em, 3em 1em, 4em 1em, 1em 2em, 1em 3em, 2em 3em, 3em 3em, 1em 4em, 1em 5em, 1em 6em, 2em 6em, 3em 6em, 4em 6em;
}

.f:before {
	box-shadow: 1em 1em, 2em 1em, 3em 1em, 4em 1em, 1em 2em, 1em 3em, 2em 3em, 3em 3em, 1em 4em, 1em 5em, 1em 6em;
}

.n:before {
	box-shadow: 1em 1em, 1em 2em, 1em 3em, 1em 4em, 1em 5em, 1em 6em, 4em 1em, 4em 2em, 4em 3em, 4em 4em, 4em 5em, 4em 6em, 2em 3em, 3em 4em;
}

.o:before {
	box-shadow: 2em 1em, 3em 1em, 1em 2em, 1em 3em, 1em 4em, 1em 5em, 4em 2em, 4em 3em, 4em 4em, 4em 5em, 2em 6em, 3em 6em;
}

.r:before {
	box-shadow: 1em 1em, 2em 1em, 3em 1em, 4em 2em, 1em 2em, 1em 3em, 1em 4em, 2em 3em, 3em 3em, 1em 5em, 1em 6em, 4em 4em, 4em 5em, 4em 6em;
}

.t:before {
	box-shadow: 1em 1em, 2em 1em, 3em 1em, 2em 2em, 2em 3em, 2em 4em, 2em 5em, 2em 6em;
}

.u:before {
	box-shadow: 1em 1em, 1em 2em, 1em 3em, 1em 4em, 1em 5em, 4em 1em, 4em 2em, 4em 3em, 4em 4em, 4em 5em, 2em 6em, 3em 6em;
}

.goBack:link, .goBack:visited {
	text-decoration: none;
	color: white;
}
  
.goBack:hover, .goBack:active {
	text-decoration: underline;
}

.linkDiv {
	padding-top: 2rem;
	text-align: center;
	font-family: monospace;
	font-size: 1.2rem;
}

@media screen and (min-width: 720px) {
	figure {
	    font-size: 7px;
	}
}
@media screen and (min-width: 1440px) {
	figure {
	    font-size: 8px;
	}
}